@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.logo{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: capitalize;
    font-weight: 340;
    font-size: 32px;
}