*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.blog-post{
    width: 100%;
    max-width: 80rem;
    padding: 0rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin-bottom: 50px;
    margin-top: 50px;
}

.blog-post__img{
    padding-top: 4rem ;
    min-width: 30rem;
    max-width: 30rem;
    height: 35rem;
    transform: translate(-5rem);
    position: relative;
}

.blog-post__img img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post__img::before{
    content: '';
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius: .8rem;
}

.blog-post__date span{
    display: block;
    color: rgba(rgba(0,0,0,.05));
    font-size: 1.6rem;
    font-weight:600;
    margin: .5rem 0;
}

.blog-post__title{
    font-size: 2.5rem;
    margin: 1.5rem 8 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.blog-post__text{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgbe(0,0,0,.7);
    text-decoration: none;
}

.blog-post__crt{
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to right, #4facfe 0% ,#00fe 100%);
    border-radius: .8rem;
    text-decoration: none;
}

.blog-post__crt:hover{
    background-image: linear-gradient(to right, #4facfe 0% ,#00fe 100%);
}

@media screen and (max-width: 1068px){
    .blog-post{
        max-width: 80rem;
    }

    .blog-post__img{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px){
    .blog-post{
        max-width: 70rem;
    }

}

@media screen and (max-width: 768px){
    .blog-post{
        padding: 2.5rem;
        margin-bottom: 100px;
        flex-direction: column;
    }

    .blog-post__img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }

    .blog-post__info{
        margin-top: -150px !important;
        
    }
}

